@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f2f3f5;
  --foreground: #060607;
  --card: #ffffff;
  --card-foreground: #2b2d31;
  --popover: #ffffff;
  --popover-foreground: #060607;
  --primary: #5865f2;
  --primary-foreground: #ffffff;
  --secondary: #e3e5e8;
  --secondary-foreground: #060607;
  --accent: #5865f2;
  --accent-foreground: #ffffff;
  --muted: #f2f3f5;
  --muted-foreground: #4f545c;
  --border: #d4d7dc;
  --input: #d4d7dc;
  --ring: #5865f2;
}

.dark {
  --background: #313338;
  --foreground: #ffffff;
  --card: #2b2d31;
  --card-foreground: #ffffff;
  --popover: #2b2d31;
  --popover-foreground: #ffffff;
  --primary: #5865f2;
  --primary-foreground: #ffffff;
  --secondary: #404249;
  --secondary-foreground: #ffffff;
  --accent: #5865f2;
  --accent-foreground: #ffffff;
  --muted: #b5bac1;
  --muted-foreground: #d8d9dc;
  --destructive: #ed4245;
  --border: #1e1f22;
  --input: #1e1f22;
  --ring: #5865f2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  width: 8px; 
  height: 0;
}

html, body {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f1f1f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 300ms ease-in-out;
}

@keyframes bounce-once {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hover\:bounce-once:hover {
  animation: bounce-once 0.4s ease-in-out;
}

@keyframes fly-up {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    transform: translate(-50%, -100%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -200%) scale(1);
  }
}

.animate-fly-up {
  animation: fly-up 1.5s ease-out forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
  height: 0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f1f1f;
}

/* From Uiverse.io by mobinkakei */ 
.wrapper {
  width: 200px;
  position: relative;
  bottom: 250%;
  z-index: 1;
}

.circle {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    opacity: 1;
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  50% {
    opacity: 0.5;
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    opacity: 1;
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 300ms ease-in-out;
}